body {
	font-size: 14px;
	background-color: var(--vscode-sideBar-background);
}

input:not([type='checkbox']):not([type='radio']),
textarea {
	padding: 5px;
	border: 1px solid var(--vscode-input-border);
}

h2 {
	padding-top: 1em;
}

hr {
	border-style: solid;
	border-bottom: none;
	border-width: 1px;
	border-color: var(--vscode-sideBar-border, var(--vscode-panel-border, '#666'));
}

code {
	font-size: inherit;
}

input[type="radio"] {
	margin-right: 0;
}
input[type="radio"],
input[type="radio"] + label,
input[type="checkbox"],
input[type="checkbox"] + label {
	vertical-align: middle;
	display: inline-block;
}

.app {
	max-width: max(50%, 800px);
	margin-left: auto;
	margin-right: auto;
}

.header-label {
	display: block;
	margin-bottom: 0.2em;
	margin-top: 0.6em;
}

.submit-button {
	width: fit-content;
	padding: 6px 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 10px 0;
	float: right;
}

.cli-argument {
	background-color: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.15);
	border-radius: 0.2em;
	padding: 0 0.3em;
}

.vscode-light .cli-argument {
	background-color: rgba(0, 0, 0, 0.02);
	border-color: rgba(0, 0, 0, 0.15);
}