name: ci

on:
  push:
    branches: [ main, integration-tests, edge ]
  pull_request:
    branches: [ main, edge ]

jobs:
  e2e-testing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # pin@v3
      - uses: actions/setup-node@17f8bd926464a1afa4c6a11669539e9c1ba77048 # pin@v3
        with:
          node-version: '16'
      - run: npm install
      - name: Setup Kubernetes
        uses: engineerd/setup-kind@aa272fe2a7309878ffc2a81c56cfe3ef108ae7d0 # pin@v0.5.0
        with:
          version: v0.12.0
          image: kindest/node:v1.20.7
      - run: 'wget https://fluxcd.io/install.sh'
      - run: 'bash install.sh'
      - name: extension test
        uses: GabrielBB/xvfb-action@86d97bde4a65fe9b290c0b3fb92c2c4ed0e5302d # pin@v1
        with:
          run: 'npm test'
          options: "-screen 0 1600x1200x24"
